<div class="d-flex justify-content-evenly">
  <h2 class="text-center mt-5 mb-3 fw-bold">
    Recenzije agencije {{ agencyName }}
  </h2>
  <button
    class="btn btn-primary btn-lg px-4 mt-5 mb-3"
    [routerLink]="['/agencies']"
  >
    Nazad?
  </button>
</div>
<div class="container-fluid px-1 py-5 mx-auto" [hidden]="reviews.length === 0">
  <div class="row justify-content-center">
    <div
      class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5"
      *ngFor="let review of reviews"
    >
      <div class="card">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <h3 class="mt-2 mb-0">{{ review.fullName }}</h3>
            <span>
              <p class="text-left">
                <span class="text-muted">{{ review.rating }}</span>
                <span
                  class="fa fa-star star-active ml-3"
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                  [ngClass]="{
                    'star-active': i < review.rating,
                    'star-inactive': i >= review.rating
                  }"
                ></span>
                <br />
                <span class="text-muted pt-5 pt-sm-3">{{
                  review.date | date
                }}</span>
              </p>
            </span>
          </div>
          <div>
            <img
              class="profile-pic img-thumbnail"
              [src]="'http://localhost:4000/' + review.profilePicture"
            />
          </div>
        </div>
        <div class="row text-left mt-3">
          <p class="content">{{ review.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h4 [hidden]="reviews.length !== 0" class="text-center">
  Trenutno nema recenzija za agenciju.
</h4>
