.table-responsive {
  margin-top: 20px;
}

.page-header {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  width: min-content
}
