<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="">Enterijer DINA</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Pocetna</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/agencies']"
            *ngIf="
              !authService.loggedIn() || authService.getUserType() === 'client'
            "
            >Agencije</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin']"
            *ngIf="authService.getUserType() === 'admin'"
            >Zahtevi</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin-users']"
            *ngIf="authService.getUserType() === 'admin'"
            >Korisnici</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin-jobs']"
            *ngIf="authService.getUserType() === 'admin'"
            >Poslovi</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/objects']"
            *ngIf="authService.getUserType() === 'client'"
            >Objekti</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/workers']"
            *ngIf="authService.getUserType() === 'agency'"
            >Radnici</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/jobs']"
            *ngIf="authService.getUserType() === 'client'"
            >Poslovi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/agency-jobs']"
            *ngIf="authService.getUserType() === 'agency'"
            >Poslovi</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profile']"
            *ngIf="authService.loggedIn()"
            >Profil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            *ngIf="!authService.loggedIn()"
            >Prijava</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            *ngIf="!authService.loggedIn()"
            >Registracija</a
          >
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button
          class="btn btn-dark"
          *ngIf="authService.loggedIn()"
          (click)="onLogoutClick()"
        >
          Odjavi se
        </button>
      </div>
    </div>
  </div>
</nav>
