<h2 class="text-center page-header">Promena lozinke</h2>
<form (submit)="resetPassword()">
  <div class="mb-3">
    <label for="password1" class="form-label">Lozinka</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      [(ngModel)]="password1"
      name="password1"
      placeholder="Unesite lozinku"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Potvrda lozinke</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      [(ngModel)]="password2"
      name="password2"
      placeholder="Unesite potvrdu lozinke"
    />
  </div>

  <button type="submit" class="btn btn-primary">Resetuj lozinku</button>
</form>
