<h2 class="text-center page-header">Promena lozinke</h2>
<form (submit)="changePassword()">
  <div class="mb-3">
    <label for="password1" class="form-label">Stara lozinka</label>
    <input
      type="password"
      class="form-control"
      id="passwordOld"
      [(ngModel)]="passwordOld"
      name="passwordOld"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Nova lozinka</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      [(ngModel)]="password1"
      name="password1"
      placeholder="Unesite novu lozinku"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Potvrda nove lozinke</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      [(ngModel)]="password2"
      name="password2"
      placeholder="Unesite potvrdu nove lozinke"
    />
  </div>

  <button type="submit" class="btn btn-primary">Resetuj lozinku</button>
</form>
